<app-header></app-header>
<div class="row">
    <div class="col" style="margin-left: 2%; margin-bottom: 3px;">
      <button id="PfButton" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        Agregar Persona Física 
      </button>
    </div>
</div>
<div style="height: 100%;" class="example-wrapper">
    <ag-grid-angular
    style="width: 100%;position: fixed; height: calc(100% - 190px);font-size: 14px;text-align: center !important;"
    class="ag-theme-alpine"
    [pagination]="true"
    [rowSelection]="rowSelection"
    [columnDefs]="columnDefs"
    [defaultColDef]="defaultColDef"
    [rowData]="rowData"
    (gridReady)="onGridReady($event)"
/>
</div>

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" style="margin-left: -10%; width: 140%;">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">{{action}} Persona Fisica</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="form-body" style="">
            <div class="container py-5 h-100">
              <div class="row justify-content-center align-items-center h-100">
                <div class="col-12 col-lg-9 col-xl-7" style="width: 100%;">
                  <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
                    <div class="card-body p-4 p-md-5">
                      <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Persona Fisica</h3>
                      
                        <div class="row">
                          <div class="col-md-6 mb-4">
        
                            <div data-mdb-input-init class="form-outline">
                              <input type="text" id="firstName" class="form-control form-control-lg" [(ngModel)]="nombre" />
                              <label class="form-label" for="firstName">Nombre</label>
                            </div>
          
                          </div>
                          <div class="col-md-6 mb-4">
          
                            <div data-mdb-input-init class="form-outline">
                              <input type="text" id="lastName" class="form-control form-control-lg" [(ngModel)]="apellidoPaterno"/>
                              <label class="form-label" for="lastName">Apellido Paterno</label>
                            </div>
          
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-6 mb-4 d-flex align-items-center">
                            
                            <div data-mdb-input-init class="form-outline">
                              <input type="text" id="lastName" class="form-control form-control-lg" [(ngModel)]="apellidoMaterno"/>
                              <label class="form-label" for="lastName">Apellido Materno</label>
                            </div>
                            
                          </div>
                          <div class="col-md-6 mb-4">
                            
                            <div data-mdb-input-init class="form-outline datepicker w-100">
                              <input type="date" class="form-control form-control-lg" id="birthdayDate" [(ngModel)]="fechaNacimiento"/>
                              <label for="birthdayDate" class="form-label">Fecha de nacimiento</label>
                            </div>
                            
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-12 mb-4 pb-2">
          
                            <div data-mdb-input-init class="form-outline">
                              <input type="email" id="emailAddress" class="form-control form-control-lg" [(ngModel)]="rfc"/>
                              <label class="form-label" for="emailAddress">RFC</label>
                            </div>
          
                          </div>
                        </div>
                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
      </div>
  
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button id="registroButton" type="button" class="btn btn-primary" (click)="ActionPersonaFisica(action)">Save</button>
      </div>
    </div>
  </div>
</div>