<app-header></app-header>
<div class="row">
    <div class="col">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#PersonaFisica">
            Launch demo modal
        </button>
    </div>
</div>
<div style="height: 100%;" class="example-wrapper">
    <ag-grid-angular
    style="width: 100%;position: fixed; height: calc(100% - 190px);font-size: 14px;text-align: center !important;"
    class="ag-theme-alpine"
    [pagination]="true"
    [rowSelection]="rowSelection"
    [columnDefs]="columnDefs"
    [defaultColDef]="defaultColDef"
    [rowData]="rowData"
    (gridReady)="onGridReady($event)"
/>
</div>

<div class="modal fade" id="#PersonaFisica" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{action}} Persona Fisica</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="ActionPersonaFisica({{action}})">Save changes</button>
        </div>
      </div>
    </div>
  </div>